$bg-primary: #ffffff;
$bg-secondary: #003333;
$accent-green: #20df7f;
$accent-purple: #8c52ff;
$button-primary: #20df7f;
$button-secondary: #ffffff;

$text-light: #ffffff;

$font-dark: #003333;
$font-light: #ffffff;
$font-highlight: #20df7f;

$transition-std: 0.2s all ease;